<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
Datos de correo enviado:

<p>
  <strong>Nombre del paciente:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Email del paciente:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>Fecha de cita:</strong>
  <%= @user.date %>
</p>

<p>
  <strong>Tratamiento:</strong>
  <%= @user.treatment %>
</p>

<p>
  <strong>Doctor no conseguido:</strong>
  <%= @user.alternate_doctor_name %>
</p>

<p>
  <strong>Doctor :</strong>
  <%= @user.doctor_name %>
</p>

<p>
  <strong>Especialidad del doctor:</strong>
  <%= @user.doctor_spec %>
</p>

<p>
  <strong>telefono del doctor:</strong>
  <%= @user.doctor_phone %>
</p>

<p>
  <strong>Direccion del doctor:</strong>
  <%= @user.doctor_address %>
</p>

<p>
  <strong>Tipo de correo enviado:</strong>
  <%= @user.email_type %>
</p>



</body>
</html>