<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
Datos de correo enviado:

<p>
  <strong>Nombre del paciente:</strong>
  <%= @appointment.name %>
</p>

<p>
  <strong>Email del paciente:</strong>
  <%= @appointment.email %>
</p>

<p>
  <strong>Fecha de cita:</strong>
  <%= @appointment.date %>
</p>

<p>
  <strong>Tratamiento:</strong>
  <%= @appointment.treatment %>
</p>

<p>
  <strong>Doctor no conseguido:</strong>
  <%= @appointment.alternate_doctor_name %>
</p>

<p>
  <strong>Doctor :</strong>
  <%= @appointment.doctor_name %>
</p>

<p>
  <strong>Especialidad del doctor:</strong>
  <%= @appointment.doctor_spec %>
</p>

<p>
  <strong>telefono del doctor:</strong>
  <%= @appointment.doctor_phone %>
</p>

<p>
  <strong>Direccion del doctor:</strong>
  <%= @appointment.doctor_address %>
</p>

<p>
  <strong>Tipo de correo enviado:</strong>
  <%= @appointment.email_type %>
</p>

<%= link_to 'Edit', edit_appointment_path(@appointment) %> |
<%= link_to 'Back', appointments_path %>

</body>
</html>