	<!DOCTYPE html>
	<html>
	<head>
		<title>
		</title>
		<meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />

	</head>
	<body>
		<div class="m_-1511542459438746298WordSection1">



			<table class="m_-1511542459438746298MsoNormalTable" style="width:100.0%;background:#fafafa;border-collapse:collapse" width="100%" cellspacing="0" cellpadding="0" border="0">
				<tbody>
					<tr>
						<td style="padding:0cm 0cm 0cm 0cm">
							<div>
								<div>
									<div>
										<div align="center">
											<table class="m_-1511542459438746298MsoNormalTable" style="border-collapse:collapse" cellspacing="0" cellpadding="0" border="0">
												<tbody>
													<tr>
														<td style="width:210.0pt;padding:0cm 0cm 0cm 0cm" width="280" valign="top">
															<div>
																<p style="margin:0cm;margin-bottom:.0001pt;line-height:14.25pt">
																	<span style="font-size: 12.8px;font-size:9.0pt;font-family:&quot;Tahoma&quot;,sans-serif;color:#c2c2c2">Confirmación de su cita médica en Top Doctors

																	</span>
																</p>
															</div>
														</td>
														<td style="width:210.0pt;padding:0cm 0cm 0cm 0cm" width="280" valign="top">
														</td>
													</tr>
												</tbody>
											</table>
										</div>
									</div>
								</div>
								<div align="center">
									<table class="m_-1511542459438746298MsoNormalTable" style="border-collapse:collapse" cellspacing="0" cellpadding="0" border="0">
										<tbody>
											<tr>
												<td style="width:450.0pt;padding:0cm 0cm 0cm 0cm;" width="600">
													<div style="margin-left:15.0pt;margin-top:4.5pt;margin-right:15.0pt;margin-bottom:15.0pt">
														<p class="MsoNormal" style="text-align:center;line-height:24.0pt" align="center">
															<span style="font-size: 12.8px;font-size:19.5pt;font-family:&quot;Tahoma&quot;,sans-serif;color:#c3ced9">
																<img style="width:5.8333in" id="m_-1511542459438746298_x0000_i1025" src="https://ci5.googleusercontent.com/proxy/8ln_DnRmPwtFYkrD7-yZ_YKU8IQHtxrlpTUxy_L71OTYrLdblpd14xnBWnsiDoK4kAjFiNMaXBXWgoOiTP7LD1XqzahvVZK-V0Pbzsyjx7kGqHh_6MdiDWOHUw=s0-d-e1-ft#http://i1.cmail19.com/ei/d/F8/FF6/F65/053448/csfinal/logo_header2.jpg" class="CToWUd" width="560">
															</span>
														</p>
													</div>
												</td>
											</tr>
										</tbody>
									</table>
								</div>
							</div>
							<div align="center">
								<table class="m_-1511542459438746298MsoNormalTable" style="border-collapse:collapse" cellspacing="0" cellpadding="0" border="0">
									<tbody>
										<tr>
											<td style="width:450.0pt;background:#fafafa;padding:0cm 0cm 0cm 0cm" width="600">
												<div style="margin-left:15.0pt;margin-top:18.0pt;margin-right:15.0pt">
													<p class="MsoNormal" style="text-align:center;line-height:30.0pt" align="center">
														<span style="font-size: 12.8px;font-size:24.0pt;font-family:&quot;Tahoma&quot;,sans-serif;color:#b8bdc9">Confirmación de Cita Médica<u>
														</u>
														<u>
														</u>
													</span>
												</p>
												<p class="m_-1511542459438746298size-161" style="margin-right:0cm;margin-bottom:15.0pt;margin-left:0cm;text-align:center" align="center">
													<span style="font-size: 12.8px;font-family:&quot;Tahoma&quot;,sans-serif;color:#595959">Estimado paciente, a continuación encontrará los datos de su cita médica confirmada a través del servicio telefónico de Top Doctors México.
												</span>
											</p>
										</div>
										<div style="margin-left:15.0pt;margin-right:15.0pt">
											<div>
												<p class="MsoNormal" style="line-height:7.5pt">
													<span style="font-size: 12.8px;font-size:1.0pt;font-family:&quot;Tahoma&quot;,sans-serif;color:#595959">&nbsp;<u>
													</u>
													<u>
													</u>
												</span>
											</p>
										</div>
									</div>
									<div style="margin-left:15.0pt;margin-right:15.0pt">
										<div>
											<p class="MsoNormal" style="line-height:5.25pt">
												<span style="font-size: 12.8px;font-size:1.0pt;font-family:&quot;Tahoma&quot;,sans-serif;color:#595959">&nbsp;<u>
												</u>
												<u>
												</u>
											</span>
										</p>
									</div>
								</div>
								<div style="margin-left:15.0pt;margin-right:15.0pt">
									<p class="m_-1511542459438746298size-181" style="margin:0cm;margin-bottom:.0001pt">
										<span style="font-size: 12.8px;font-family:&quot;Tahoma&quot;,sans-serif;color:#595959">Datos del Paciente:<u>
										</u>
										<u>
										</u>
									</span>
								</p>
								<p class="MsoNormal" style="margin-right:0cm;margin-bottom:0cm;margin-left:18.0pt;margin-bottom:.0001pt;line-height:15.75pt">
									<u>
									</u>
									<span style="font-size: 12.8px;font-size:10.0pt;font-family:Symbol;color:#595959">
										<span>·<span style="font-size: 12.8px;font:7.0pt &quot;Times New Roman&quot;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>
									</span>
								</span>
								<u>
								</u>
								<strong>
									<span style="font-size: 12.8px;font-size:10.5pt;font-family:&quot;Tahoma&quot;,sans-serif;color:#595959">Nombre:</span>
								</strong>
								<span style="font-size: 12.8px;font-size:10.5pt;font-family:&quot;Tahoma&quot;,sans-serif;color:#595959"> 
								<%= @user.name %><u>
								</u>
								<u>
								</u>
							</span>
						</p>
						<p class="MsoNormal" style="margin-left:18.0pt;line-height:15.75pt">
							<u>
							</u>
							<span style="font-size: 12.8px;font-size:10.0pt;font-family:Symbol;color:#595959">
								<span>·<span style="font-size: 12.8px;font:7.0pt &quot;Times New Roman&quot;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>
							</span>
						</span>
						<u>
						</u>
						<strong>
							<span style="font-size: 12.8px;font-size:10.5pt;font-family:&quot;Tahoma&quot;,sans-serif;color:#595959">Tratamiento: </span>
						</strong>
						<span style="font-size: 12.8px;font-size:10.5pt;font-family:&quot;Tahoma&quot;,sans-serif;color:#595959"><%= @user.treatment %><u>
						</u>
						<u>
						</u>
					</span>
				</p>
				<p class="m_-1511542459438746298size-181" style="margin-right:0cm;margin-bottom:0cm;margin-left:0cm;margin-bottom:.0001pt">
					<span style="font-size: 12.8px;font-family:&quot;Tahoma&quot;,sans-serif;color:#595959">Datos de la&nbsp;Cita Médica:<u>
					</u>
					<u>
					</u>
				</span>
			</p>
			<p class="MsoNormal" style="margin-right:0cm;margin-bottom:0cm;margin-left:18.0pt;margin-bottom:.0001pt;line-height:15.75pt">
				<u>
				</u>
				<span style="font-size: 12.8px;font-size:10.0pt;font-family:Symbol;color:#595959">
					<span>·<span style="font-size: 12.8px;font:7.0pt &quot;Times New Roman&quot;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>
				</span>
			</span>
			<u>
			</u>
			<strong>
				<span style="font-size: 12.8px;font-size:10.5pt;font-family:&quot;Tahoma&quot;,sans-serif;color:#595959">Médico: </span>
			</strong>
			<span style="font-size: 12.8px;font-size:10.5pt;font-family:&quot;Tahoma&quot;,sans-serif;color:#595959"><%= @user.doctor_name %><u>
			</u>
			<u>
			</u>
		</span>
	</p>
	<p class="MsoNormal" style="margin-left:18.0pt;line-height:15.75pt">
		<u>
		</u>
		<span style="font-size: 12.8px;font-size:10.0pt;font-family:Symbol;color:#595959">
			<span>·<span style="font-size: 12.8px;font:7.0pt &quot;Times New Roman&quot;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>
		</span>
	</span>
	<u>
	</u>
	<strong>
		<span style="font-size: 12.8px;font-size:10.5pt;font-family:&quot;Tahoma&quot;,sans-serif;color:#595959">Especialidad:</span>
	</strong>
	<span style="font-size: 12.8px;font-size:10.5pt;font-family:&quot;Tahoma&quot;,sans-serif;color:#595959"> <%= @user.doctor_spec %><u>
	</u>
	<u>
	</u>
</span>
</p>
<p class="MsoNormal" style="margin-left:18.0pt;line-height:15.75pt">
	<u>
	</u>
	<span style="font-size: 12.8px;font-size:10.0pt;font-family:Symbol;color:#595959">
		<span>·<span style="font-size: 12.8px;font:7.0pt &quot;Times New Roman&quot;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>
	</span>
</span>
<u>
</u>
<strong>
	<span style="font-size: 12.8px;font-size:10.5pt;font-family:&quot;Tahoma&quot;,sans-serif;color:#595959">Fecha y hora: </span>
</strong>
<span style="font-size: 12.8px;font-size:10.5pt;font-family:&quot;Tahoma&quot;,sans-serif;color:#595959"><%= @user.date %><u>
</u>
<u>
</u>
</span>
</p>
<p class="MsoNormal" style="margin-left:18.0pt;line-height:15.75pt">
	<u>
	</u>
	<span style="font-size: 12.8px;font-size:10.0pt;font-family:Symbol;color:#595959">
		<span>·<span style="font-size: 12.8px;font:7.0pt &quot;Times New Roman&quot;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>
	</span>
</span>
<u>
</u>
<strong>
	<span style="font-size: 12.8px;font-size:10.5pt;font-family:&quot;Tahoma&quot;,sans-serif;color:#595959">Consultorio: </span>
</strong>
<span style="font-size: 12.8px;font-size:10.5pt;font-family:&quot;Tahoma&quot;,sans-serif;color:#595959"><%= @user.doctor_address %><u>
</u>
<u>
</u>
</span>
</p>
<p class="MsoNormal" style="margin-left:18.0pt;line-height:15.75pt">
	<u>
	</u>
	<span style="font-size: 12.8px;font-size:10.0pt;font-family:Symbol;color:#595959">
		<span>·<span style="font-size: 12.8px;font:7.0pt &quot;Times New Roman&quot;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>
	</span>
</span>
<u>
</u>
<strong>
	<span style="font-size: 12.8px;font-size:10.5pt;font-family:&quot;Tahoma&quot;,sans-serif;color:#595959">Teléfono:</span>
</strong>
<span style="font-size: 12.8px;font-size:10.5pt;font-family:&quot;Tahoma&quot;,sans-serif;color:#595959"> <%= @user.doctor_phone %><u>
</u>
<u>
</u>
</span>
</p>
<p class="m_-1511542459438746298size-141" style="margin-right:0cm;margin-bottom:15.0pt;margin-left:0cm">
	<span style="font-size: 12.8px;font-family:&quot;Tahoma&quot;,sans-serif;color:#595959">&nbsp;<u>
	</u>
	<u>
	</u>
</span>
</p>
</div>
<div style="margin-left:15.0pt;margin-right:15.0pt;margin-bottom:18.0pt">
	<p class="m_-1511542459438746298size-161" style="margin:0cm;margin-bottom:.0001pt;text-align:center" align="center">
		<span style="font-size: 12.8px;font-family:&quot;Tahoma&quot;,sans-serif;color:#595959">Agradecemos su confianza y le recordamos que en caso de cualquier cambio es necesario que se ponga en contacto directamente con&nbsp;el consultorio médico.<u>
		</u>
		<u>
		</u>
	</span>
</p>
<p class="m_-1511542459438746298size-161" style="margin-right:0cm;margin-bottom:0cm;margin-left:0cm;margin-bottom:.0001pt;text-align:center" align="center">
	<span style="font-size: 12.8px;font-family:&quot;Tahoma&quot;,sans-serif;color:#595959">Atentamente,<u>
	</u>
	<u>
	</u>
</span>
</p>
<p class="m_-1511542459438746298size-161" style="margin-right:0cm;margin-bottom:0cm;margin-left:0cm;margin-bottom:.0001pt;text-align:center" align="center">
	<span style="font-size: 12.8px;font-family:&quot;Tahoma&quot;,sans-serif;color:#595959">Atención a Clientes,&nbsp;<strong>
		<span style="font-size: 12.8px;font-family:&quot;Tahoma&quot;,sans-serif">Top Doctors México.</span>
	</strong>
	<u>
	</u>
	<u>
	</u>
</span>
</p>
</div>
</td>
</tr>
</tbody>
</table>
</div>
<div>
	<p class="MsoNormal" style="line-height:15.0pt">
		<span style="font-size: 12.8px;font-size:15.0pt">&nbsp;<u>
		</u>
		<u>
		</u>
	</span>
</p>
</div>
<div>
	<div>
		<div>
			<div align="center">
				<table class="m_-1511542459438746298MsoNormalTable" style="border-collapse:collapse" cellspacing="0" cellpadding="0" border="0">
					<tbody>
						<tr>
							<td style="width:300.0pt;padding:0cm 0cm 0cm 0cm" width="400" valign="top">
								<div style="margin-left:15.0pt;margin-top:7.5pt;margin-right:15.0pt;margin-bottom:7.5pt">
									<table class="m_-1511542459438746298MsoNormalTable" style="border-collapse:collapse" cellspacing="0" cellpadding="0" border="0">
										<tbody>
											<tr>
												<td style="width:19.5pt;padding:0cm 0cm 0cm 0cm" width="26">
													<p class="MsoNormal">
														<span style="font-size: 12.8px;font-family:&quot;Tahoma&quot;,sans-serif">
															<a href="http://topdoctorsmxicosadecv.cmail19.com/t/d-i-hyvktk-l-r/" target="_blank" data-saferedirecturl="https://www.google.com/url?hl=es&amp;q=http://topdoctorsmxicosadecv.cmail19.com/t/d-i-hyvktk-l-r/&amp;source=gmail&amp;ust=1488325806762000&amp;usg=AFQjCNEQ26mVVRTD5Lz-_dcAOL02n8jBaw">
																<span style="font-size: 12.8px;color:#c2c2c2;text-decoration:none">
																	<img style="width:.2708in;height:.2708in" id="m_-1511542459438746298_x0000_i1026" src="https://ci3.googleusercontent.com/proxy/tNqAGIm0PZjWJo0SX59AeSmBF4XEqoI5W0n_V7T2akHy7BJExeIcFXrWViGI3MI7fZAceJZNls62hI7aV2BlVA5ASD-G-I1nZ8eU_CFEiG69YqYwwE9djwnsmSeo-Umy-AAs=s0-d-e1-ft#http://i8.cmail19.com/static/eb/master/13-the-blueprint-3/images/facebook.png" class="CToWUd" width="26" height="26" border="0">
																</span>
															</a>
															<u>
															</u>
															<u>
															</u>
														</span>
													</p>
												</td>
												<td style="width:19.5pt;padding:0cm 0cm 0cm 2.25pt" width="26">
													<p class="MsoNormal">
														<span style="font-size: 12.8px;font-family:&quot;Tahoma&quot;,sans-serif">
															<a href="http://topdoctorsmxicosadecv.cmail19.com/t/d-i-hyvktk-l-y/" target="_blank" data-saferedirecturl="https://www.google.com/url?hl=es&amp;q=http://topdoctorsmxicosadecv.cmail19.com/t/d-i-hyvktk-l-y/&amp;source=gmail&amp;ust=1488325806763000&amp;usg=AFQjCNHLhFz7ngQ0VIXMLphKzXbAzxJUeA">
																<span style="font-size: 12.8px;color:#c2c2c2;text-decoration:none">
																	<img style="width:.2708in;height:.2708in" id="m_-1511542459438746298_x0000_i1027" src="https://ci6.googleusercontent.com/proxy/NhWO8KstlI0VJQuvAd9eiG-FUCDnpnH_paomg3AYwn3Y8nY0FqQHlUpii2xA4WEpKSX1GGDa30Y__YeVAIYryeqXjS1Nk90imdsw0fEZsq7w_e2uPrhgrZ32nmqdTmpT6qU=s0-d-e1-ft#http://i9.cmail19.com/static/eb/master/13-the-blueprint-3/images/twitter.png" class="CToWUd" width="26" height="26" border="0">
																</span>
															</a>
															<u>
															</u>
															<u>
															</u>
														</span>
													</p>
												</td>
												<td style="width:19.5pt;padding:0cm 0cm 0cm 2.25pt" width="26">
													<p class="MsoNormal">
														<span style="font-size: 12.8px;font-family:&quot;Tahoma&quot;,sans-serif">
															<a href="http://topdoctorsmxicosadecv.cmail19.com/t/d-i-hyvktk-l-i/" target="_blank" data-saferedirecturl="https://www.google.com/url?hl=es&amp;q=http://topdoctorsmxicosadecv.cmail19.com/t/d-i-hyvktk-l-i/&amp;source=gmail&amp;ust=1488325806763000&amp;usg=AFQjCNGJifOgvy_7MpFuF7oOmH5bKxy9RQ">
																<span style="font-size: 12.8px;color:#c2c2c2;text-decoration:none">
																	<img style="width:.2708in;height:.2708in" id="m_-1511542459438746298_x0000_i1028" src="https://ci4.googleusercontent.com/proxy/ckFTOiMZk9XHrl2SN_N6tya0k3BCIaoTKbNCrRa5cct3oMYHyqLo5VPE8upP0YTsERIc96iBwYOES960aL86TyEbOVUxeDO2pgGg7CMr2FayxM-BqNZuUsmyyW6iX7Eg-GUf=s0-d-e1-ft#http://i10.cmail19.com/static/eb/master/13-the-blueprint-3/images/youtube.png" class="CToWUd" width="26" height="26" border="0">
																</span>
															</a>
															<u>
															</u>
															<u>
															</u>
														</span>
													</p>
												</td>
												<td style="width:19.5pt;padding:0cm 0cm 0cm 2.25pt" width="26">
													<p class="MsoNormal">
														<span style="font-size: 12.8px;font-family:&quot;Tahoma&quot;,sans-serif">
															<a href="http://topdoctorsmxicosadecv.cmail19.com/t/d-i-hyvktk-l-d/" target="_blank" data-saferedirecturl="https://www.google.com/url?hl=es&amp;q=http://topdoctorsmxicosadecv.cmail19.com/t/d-i-hyvktk-l-d/&amp;source=gmail&amp;ust=1488325806763000&amp;usg=AFQjCNGeTcu20qw0bH_1kHeAkroR9MO6nA">
																<span style="font-size: 12.8px;color:#c2c2c2;text-decoration:none">
																	<img style="width:.2708in;height:.2708in" id="m_-1511542459438746298_x0000_i1029" src="https://ci4.googleusercontent.com/proxy/jrWt9pljLqGpNSayLChv5b4hD82bE3UgxBtHT0mMc_rU-5VR-QkrXnRPfsXbYTjP-0Vki8g5wi-iwr8KbNxFdzGzkezpxXnPBiI0--0oPE-VsqH7INBkaO9jySy7yAUHS2IeUg=s0-d-e1-ft#http://i1.cmail19.com/static/eb/master/13-the-blueprint-3/images/instagram.png" class="CToWUd" width="26" height="26" border="0">
																</span>
															</a>
															<u>
															</u>
															<u>
															</u>
														</span>
													</p>
												</td>
											</tr>
										</tbody>
									</table>
									<div style="margin-top:15.0pt">
										<div>
											<p class="MsoNormal" style="line-height:14.25pt">
												<span style="font-size: 12.8px;font-size:9.0pt;font-family:&quot;Tahoma&quot;,sans-serif;color:#c2c2c2">Top Doctors México<br>Teléfono: (55) 4172 3317<br>Boque de Duraznos 605 - 503, Bosque de las Lomas.<br>Miguel Hidalgo, Ciudad de México.<u>
												</u>
												<u>
												</u>
											</span>
										</p>
									</div>
								</div>
								<div style="margin-top:13.5pt">
									<div>
										<p class="MsoNormal" style="line-height:14.25pt">
											<span style="font-size: 12.8px;font-size:9.0pt;font-family:&quot;Tahoma&quot;,sans-serif;color:#c2c2c2">Usted está recibiendo este e-email al haber solicitado un servicio de colocación de cita médica con Top Doctors.<u>
											</u>
											<u>
											</u>
										</span>
									</p>
								</div>
							</div>
						</div>
					</td>
					<td style="width:150.0pt;padding:0cm 0cm 0cm 0cm" width="200" valign="top">
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>
</div>
<div align="center">
	<table class="m_-1511542459438746298MsoNormalTable" style="border-collapse:collapse" cellspacing="0" cellpadding="0" border="0">
		<tbody>
			<tr>
				<td style="width:450.0pt;padding:0cm 0cm 0cm 0cm" width="600">
					<div style="margin-left:15.0pt;margin-top:7.5pt;margin-right:15.0pt;margin-bottom:7.5pt">
						<div>
							<p class="MsoNormal" style="line-height:14.25pt">
								<span style="font-size: 12.8px;font-size:9.0pt;font-family:&quot;Tahoma&quot;,sans-serif;color:#c2c2c2">
									<a href="http://topdoctorsmxicosadecv.updatemyprofile.com/d-l-2AD73FFF-l-h" target="_blank" data-saferedirecturl="https://www.google.com/url?hl=es&amp;q=http://topdoctorsmxicosadecv.updatemyprofile.com/d-l-2AD73FFF-l-h&amp;source=gmail&amp;ust=1488325806763000&amp;usg=AFQjCNGegkMnCwzStNMu8myGlnqFzJia0A">
										<span style="font-size: 12.8px;color:#c2c2c2" lang="EN">Preferences</span>
									</a>&nbsp;&nbsp;|&nbsp;&nbsp;<a href="http://topdoctorsmxicosadecv.cmail19.com/t/d-u-hyvktk-l-k/" target="_blank" data-saferedirecturl="https://www.google.com/url?hl=es&amp;q=http://topdoctorsmxicosadecv.cmail19.com/t/d-u-hyvktk-l-k/&amp;source=gmail&amp;ust=1488325806763000&amp;usg=AFQjCNEs81H7OnwBAJp-dFvs5InDtx28FQ">
									<span style="font-size: 12.8px;color:#c2c2c2">Unsubscribe</span>
								</a> <u>
							</u>
							<u>
							</u>
						</span>
					</p>
				</div>
			</div>
		</td>
	</tr>
</tbody>
</table>
</div>
</div>
<div>
	<p class="MsoNormal" style="line-height:30.0pt">
		<span style="font-size: 12.8px;font-size:30.0pt">&nbsp;<u>
		</u>
		<u>
		</u>
	</span>
</p>
</div>
</td>
</tr>
</tbody>
</table>
<p class="MsoNormal">
	<img style="width:.0104in;height:.0104in" id="m_-1511542459438746298_x0000_i1030" src="https://ci3.googleusercontent.com/proxy/jEa5SfCStKiCnw_FTRNzjd2hCGkM2wCtsoMoSeNMYB-MCLIPpMrH6NUx4mIQ2DuMEse1jgs7auRDlpC79FrUlcO1gMnRiNVMbe7aiv-ozP-psLnn=s0-d-e1-ft#https://topdoctorsmxicosadecv.cmail19.com/t/d-o-hyvktk-l/o.gif" class="CToWUd" width="1" height="1" border="0">
	<u>
	</u>
	<u>
	</u>
</p>
</div>
</body>
</html>